.Cargo
    .Cargo-add
        button(
            mat-button,
            color='primary',
            type='button') Добавить рейс
    .Item
        .Item-places
            .Item-place
                mat-icon(svgIcon="flight-up")
                | Отправление:
                span Кито (Эквадор)
            .Item-place
                mat-icon(svgIcon="flight-down")
                | Прибытие:
                span Кито (Эквадор)
        .Item-description
            a.Green Показать дни отправления рейсов
            span Предварительная стоимость: 320$
            span Время в пути: 2 суток
        .Item-actions
            button(
                mat-flat-button,
                color='primary',
                type='button') Изменить

            button(
                mat-flat-button,
                color='warn',
                type='button') Удалить

    .Item
        .Item-places
            .Item-place
                mat-icon(svgIcon="flight-up")
                | Отправление:
                span Кито (Эквадор)
            .Item-place
                mat-icon(svgIcon="flight-down")
                | Прибытие:
                span Кито (Эквадор)
        .Item-description
            a.Green Показать дни отправления рейсов
            span Предварительная стоимость: 320$
            span Время в пути: 2 суток
        .Item-actions
            button(
                mat-flat-button,
                color='primary',
                type='button') Изменить

            button(
                mat-flat-button,
                color='warn',
                type='button') Удалить
