.Broker
    .Filters([formGroup]='filtersForm')
        .Filters-row
            .Filters-left
                mat-form-field.Form-field--white.Form-row.Filters-item(
                    appearance="outline")

                    input(placeholder='Фамилия',
                        matInput,
                        formControlName="secondName",
                        [matAutocomplete]='autoSecondName')
                    mat-icon.TextGreen(
                        matSuffix,
                        [svgIcon]='autoSecondName.isOpen ? "keyboard_arrow_up" : "keyboard_arrow_down"')

                    mat-autocomplete(#autoSecondName='matAutocomplete')
                        mat-option(
                            *ngFor='let item of filteredSecondNames | async',
                            [value] = 'item')
                            | {{item}}


                mat-form-field.Form-field--white.Form-row.Filters-item(
                    appearance="outline")

                    input(placeholder='Имя',
                        matInput,
                        formControlName="firstName",
                        [matAutocomplete]='autoFirstName')
                    mat-icon.TextGreen(
                        matSuffix,
                        [svgIcon]='autoFirstName.isOpen ? "keyboard_arrow_up" : "keyboard_arrow_down"')

                    mat-autocomplete(#autoFirstName='matAutocomplete')
                        mat-option(
                            *ngFor='let item of filteredFirstNames | async',
                            [value] = 'item')
                            | {{item}}

                mat-form-field.Form-field--white.Filters-item(
                    appearance="outline", #roleField)
                    mat-select(
                        formControlName="role",
                        :disableOptionCentering='true',
                        (selectionChange) = 'onRoleSelect()',
                        placeholder='Роль')
                        mat-option -
                        mat-option(*ngFor="let role of roles", [value]="role") {{role.name}}



            .Filters-right
                button(
                    type='button',
                    mat-flat-button,
                    color='primary'
                ) Показать
                button(
                    type='button',
                    mat-button,
                    color='primary',
                    (click)='cancel()'
                ) Очистить

    .Broker-table
        div(
            user-table,
            [users]='["sdfsf"]',
            type='brokers')
